@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/GilroyRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/GilroyBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/GilroyExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}