@import "tailwindcss";
@import "./normalize.css";
@import "./fonts.css";

@theme{
  --font-gilroy: Gilroy;
  --color-green-300: #00D97B;
  --color-green-400: #00FF22;
  --color-blue-400: #00A1FF;
  --color-gray-200: #F6F6F6;
  --color-gray-300: #D9D9D9;
  --color-gray-400: #686868;
  --color-gray-500: #303030;
  --color-gray-900: #1B1B1B;

  --text-32: 2rem;
}

body{
  font-family: var(--font-gilroy), sans-serif;
}

.scrollbar-gutter{
  scrollbar-width: none;
}